{
  "cache": false,
  "all": true,
  "lines": 100,
  "branches": 100,
  "statements": 100,
  "functions": 100,
  "include": [
     "src"
  ],
  "exclude": [
     "src/components/icons/*",
     "src/shims*"
  ],
  "extends": "@istanbuljs/nyc-config-typescript",
  "extension": [
    ".ts",
    ".vue"
  ],
  "reporter": [
    "html"
  ]
}