

$green-dark-0: #00daa4;
$green-dark-1: #36BE82;
$green-light-1: #45D093;
$green-light-2: #65E2AB;
$green-light-3: #7BEBBA;
$green-light-4: #95F3C9;
$green-light-5: #A6FCD6;
$green-light-6: #CEFFE9;

$grey-1: #A1A9B2;

$unikube-blue: #343D6F;
$unikube-green: $green-light-1;
$unikube-grey: $grey-1;
