
.v-textfield--show-password {
  border-radius: 50%;
  background-color: #e3e3e3;
}
.v-label--secondary {
  color: $grey-1;
}
.v-application a.link--secondary {
  color: $grey-1;
  text-decoration: underline;
}