
.v-textfield--show-password {
  border-radius: 50%;
  background-color: #e3e3e3;
}
.v-label--secondary {
  color: $grey-1;
}
.v-application a.link--secondary {
  color: $grey-1;
  font-weight: 500;
  text-decoration: none;
  .v-icon {
    margin-top: -2px;
  }
}
.v-list-item.navigation-item--is-active {
  border-left: 4px solid $unikube-green;
  padding-left: 16px;
}
.theme--dark.v-list-item--link.navigation-item::before {
  opacity: 1;
  background: transparent none;
}
.theme--dark.v-list-item--link.navigation-item:hover::before {
  opacity: 1;
  background: transparent linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}
.theme--dark.v-list-item--active.navigation-item--is-active:hover::before,
.theme--dark.v-list-item--active.navigation-item--is-active::before {
  opacity: 1;
  background: transparent linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
}
.organization-dropdown {
  overflow-x: visible !important;
  overflow-y: visible !important;
  left: 0 !important;
  margin-top: -7px;
  padding-top: 7px;
}
.organization-dropdown .v-list.v-sheet.theme--light {
  border-radius: 6px;
}
.organization-dropdown--notch {
  position: absolute;
  top: 7px;
  right: 20px;
  transform: translateY(-100%);
  width: 7px;
  height: 7px;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #fff;
}

.v-application--is-ltr .v-list-item__avatar.organization-dropdown--icon:first-child {
  margin-right: 15px;
  margin-left: 9px;
}
.v-application--is-ltr .v-list-item__icon.organization-dropdown--icon:first-child {
  margin-right: 10px;
  margin-left: 14px;
}
.organization-dropdown--arrow {
  margin-right: 2px;
  margin-top: -5px;
}
.v-application .v-avatar.avatar__unikube {
  color: $green-dark-0;
  font-size: 14px;
  font-weight: 700;
  background-color: $green-light-6;
  border: 3px solid #fff !important;
}
.v-avatar img {
  object-fit: cover;
}
.avatar-list-item {
  margin-left: -12px;
}
.v-sheet .v-list-item__avatar {
  width: auto !important;
  height: auto !important;
}
.v-avatar .initials-avatar{
  border: 3px solid white !important;
  &:not(:first-child) {
    margin-left: -1em;
  }
}
.dz-image img {
  border-radius: 50%;
  border: 1px dashed black;
  height: 175px;
  width: 175px;
}

.no-bg-drawer {
  background-image: none;
}

.v-tab.vertical-tabs {
  justify-content: start;
  max-width: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.v-tab.vertical-tabs.v-tab--active {
  box-shadow: 0 2px 40px 0 rgba(183, 183, 183, 0.15);;
}
.v-application .v-alert.error--text {
  background-color: #fff7f7 !important;
  border: 0 !important;
  border-radius: 8px;
  .v-alert__icon {
    align-self: center;
  }
}
.v-select__small .v-input__slot {
  margin-bottom: 0;
}
.v-input.v-text-field.v-text-field--enclosed.v-select__small {
  padding-top: 0;
}
.v-text-field.v-text-field--enclosed.v-select__small .v-text-field__details {
  display: none;
}
.v-select.v-select__small.v-text-field--outlined:not(.v-text-field--single-line) .v-select__selections {
  padding: 0;
}
.v-select__small.v-text-field--outlined > .v-input__control > .v-input__slot {
  min-height: 40px;
}
.v-select__small.v-text-field--enclosed .v-input__append-inner {
  margin-top: 9px;
}


.project-detail__tabs {
  .v-tabs-bar:after {
    display: block;
    content: '';
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    width: 100%;
    position: absolute;
    bottom: 1px;
  }
}
.v-slide-group__wrapper {
  z-index: 1;
}
.v-icon.v-icon::after {
  display: none !important;
}
.v-snack {
  transition: margin-top 400ms;
}

.v-pagination li:first-child .v-pagination__navigation .v-icon {
  transform: scale(0.6) rotate(90deg);
}
.v-pagination li:last-child .v-pagination__navigation .v-icon {
  transform: scale(0.6) rotate(-90deg);
}
