.v-application {
  letter-spacing: -0.2px;
}
.v-text-field--outlined .v-label {
  left: -12px !important;
}
.v-text-field--outlined .v-input__prepend-inner ~ .v-text-field__slot .v-label {
  left: -43px !important;
  transform: translateY(-37px) scale(0.75);
}
.v-application--is-ltr .v-text-field--outlined legend {
  display: none;
}
.v-input.v-text-field.v-text-field--enclosed {
  padding-top: 25px;
}
.theme--light.v-label {
  font-weight: 500;
}
.theme--light.v-label:not(.v-label--is-disabled) {
  color: $unikube-blue !important;
}
.v-btn:not(.v-btn--text):not(.v-btn--outlined):hover:before {
  opacity: 0 !important;
}
.v-btn.primary:hover {
  background-color: $green-dark-1 !important;
}
.theme--light.v-btn.v-btn--outlined {
  color: $grey-1;
  border-color: $grey-2;
  &:before {
    display: none;
  }
  &:hover {
    border-color: $unikube-green;
    background-color: transparent;
  }
  &:focus {
    background-color: $green-light-7;
    border-color: $unikube-green;
  }
  &[disabled] {
    opacity: 0.7;
  }
}
.v-application--is-ltr .v-text-field .v-label:not(.v-label--is-disabled) {
  color: $unikube-blue !important;
}
.v-application--is-ltr .v-text-field .v-label.v-label--is-disabled {
  color: #C4CCD4;
}
.theme--light.v-input--is-disabled ::placeholder,
.theme--light.v-input--is-disabled ::placeholder {
  color: #DCE0E5 !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $unikube-blue;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}
.v-application .v-navigation-drawer__content {
  overflow-y: visible;
  overflow-x: visible;
}
.v-text-field--outlined.v-input--has-state.error--text fieldset {
  border: 1px solid #ff5252;
}

.v-toolbar__content {
  justify-content: space-between;
}

.v-tab {
  text-transform: none !important;
  letter-spacing: 0.2px !important;
  &--active {
    background-color: #fff;
    color: $unikube-blue !important;

  }
}

.v-input--switch__thumb.theme--light {
  left: 5px !important;
}
.v-input--switch__thumb.theme--light.primary--text {
  color: white !important;
}

.v-theme--light {
  --v-medium-emphasis-opacity: 1 !important;
  --v-theme-on-primary: 255,255,255 !important;
  --v-theme-surface: 252, 252, 253 !important;
}

.v-app-bar__content {
  justify-content: inherit;
}

.v-overlay {
  z-index: 1007 !important;
}