.table__unikube {
  border: 1px solid #c4ccd4;
  border-radius: 7px;
  overflow: hidden;
  ::v-deep table {
    border-collapse: separate;
    width: 101%;
  }
  tbody {
    tr:before,
    tr:after {
      display: inline-block;
      content: '';
    }
    tr:before {
      width: 15px;
    }
    tr:after {
      width: 20px;
    }
    tr[disabled] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
  thead {
    background-color: #9eaed7;
    color: #fff;

    th {
      padding-top: 11px !important;
      padding-bottom: 10px !important;
      font-size: 14px;
      font-weight: 500;
    }

    th:first-child {
      padding-left: 5%;
    }
  }
  td:first-child {
    padding-left: calc(5% - 15px) !important;
  }
  td:last-child {
    padding-right: calc(5% - 15px) !important;
  }
  td {
    padding-top: 24px !important;
    padding-bottom: 24px !important;
  }
}
.theme--light.v-data-table.table__unikube > .v-data-table__wrapper > table > thead > tr > th {
  color: white;
}